<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="frag-headermneu">
        <!-- header-section -->
        <div class="header-section">
            <!--toggle button start-->
            <a class="toggle-btn  menu-collapsed"><i class="fa fa-bars"></i></a>
            <!--toggle button end-->
            <!--notification menu start -->
            <div class="menu-right">
                <div class="user-panel-top">
                    <div class="profile_details_left">
                        <ul class="nofitications-dropdown">
                            <p th:if="${menuName != null}" th:text="#{${menuName}}" style="margin-top: 15px;"></p>
                            <!--MAIL DROPDOWN-->
                            <!--<li class="dropdown">-->
                                <!--<a href="#" class="menu-item item-1" aria-expanded="false">-->
                                    <!--<i class="fa fa-envelope" style="color:white"></i>-->
                                <!--</a>-->
                            <!--</li>-->

                            <!--TASK PENDING-->
                            <div class="clearfix"></div>
                        </ul>
                    </div>
                    <!--PROFILE-->
                    <div class="profile_details" th:if="${session.user}">
                        <!--<span id="customerName"></span>-->
                        <ul>
                            <li class="dropdown profile_details_drop">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <div class="profile_img" style="min-width:170px">
                                        <span th:style="'background:url('+@{/images/user_profile/}+${session.user.imgUrl}+');'"></span>
                                        <div class="user-name">
                                            <p th:text="${session.user.code}"></p>
                                            <p><span th:text="${session.user.roleName}"></span></p>
                                        </div>

                                        <i class="fa fa-angle-down"></i>
                                        <i class="fa fa-angle-up"></i>

                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                                <ul class="dropdown-menu drp-mnu">
                                    <li> <a th:href="@{/workspace/profile}"><i class="fa fa-user"></i>Profile</a> </li>
                                    <li> <a id="btnLogout" th:href="@{/workspace/logout}"><i class="fa fa-power-off "></i>Logout</a> </li>
                                </ul>
                            </li>
                            <div class="clearfix"> </div>
                        </ul>
                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>
            <!--notification menu end -->
        </div>
    </div>
</body>
</html>