<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="frag-leftmenu">
    <!-- left side bar-->
    <div class="left-side sticky-left-side" style="overflow: hidden;" tabindex="5000">
        <!--header logo-->
        <div class="logo">
            <h1><a href="#">WMS <span>Workspace</span></a></h1>
        </div>
        <div class="logo-icon text-center">
            <a th:href="@{/workspace/wms}"><i class="lnr lnr-home"></i> </a>
        </div>
        <!--tools icon-->
        <div class="left-side-inner">
            <!--sidebar nav start-->
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li class="menu-list" th:each="action:${lstUserAction}">
                    <a th:href="${action.parentAction.url}">
                        <i th:class="${action.parentAction.imgClass}"></i>
                        <span th:text="${action.parentAction.actionName}"></span>
                    </a>

                    <ul class="sub-menu-list" >
                        <li th:each="subaction:${action.lstSubAction}">
                            <a th:href="${subaction.url}" th:text="${subaction.actionName}"></a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!--sidebar nav end-->
        </div>
        <!--end tools icon-->
    </div>
    <!-- end left side bar-->
</div>
</body>
</html>