<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<div th:fragment="frag-select-customer-modal">
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="true" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form id="catUserDTO-insert-update-form" action="" method="post">
                <div class="modal-content" id="catUserDTO-modal">
                    <div class="modal-header">
                        <button type="button" class="close fa fa-close" data-dismiss="modal" aria-label="Close">
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Thêm mới</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container-modal">
                                <!--hidden fields-->
                            <input id="modal-inp-userId" hidden="true" name="userId"/>
                            <input id="modal-inp-password" hidden="true" name="password"/>
                            <input id="modal-inp-createdDate" hidden="true" name="createdDate"/>
                            <input id="modal-inp-imgUrl" hidden="true" name="imgUrl"/>
                            <input id="modal-inp-roleName" hidden="true" name="roleName"/>
                                <!--row 1-->
                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="input-group">
                                            <label for="modal-inp-username" class="control-label">Username:</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-catUserDTO-o fa-fw"></i>
                                                </span>
                                            <input id="modal-inp-username" class="form-control" type="text" th:required="true" name="username" />
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <div class="input-group">
                                            <label for="modal-inp-email" class="control-label">Email:</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-envelope-o fa-fw"></i>
                                                </span>
                                            <input id="modal-inp-email" class="form-control" type="email" th:required="true" name="email"  placeholder="example@gmail.com"/>
                                        </div>
                                    </div>
                                </div>
                                <!--row 2-->
                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="input-group">
                                            <label for="modal-cmb-role" class="control-label">Vai trò:</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <select id="modal-cmb-role" class="combobox form-control" name="roleId" th:required="true">
                                                <option th:each="sopt:${mapRoles.entrySet()}"
                                                        th:value="${sopt.key}" th:text="${sopt.value}">Admin</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <div class="input-group">
                                            <label for="modal-cmb-role" class="control-label">Trạng thái:</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <select id="modal-cmb-status" name="status" class="combobox form-control" th:required="true">
                                                <option value="1" selected="true">Hiệu lực</option>
                                                <option value="0">Hết hiệu lực</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="modal-btn-update"  type="submit" class="btn btn-primary"  >Update</button>
                        <button id="modal-btn-add"     type="submit" class="btn btn-primary"  >Add</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>