<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<div th:fragment="frag-assign-role-user-modal">
    <!-- Modal -->
    <div class="modal fade" id="assygnRoleUser" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="true" aria-labelledby="myModalLabel" >
        <div class="modal-dialog modal-dialog-mini" role="document" style="width: 700px">
            <form id="assign-role-user-form">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close fa fa-close" data-dismiss="modal" aria-label="Close">
                        </button>
                        <h4 class="modal-title" th:text="#{title.assygn.role.user}"></h4>
                    </div>

                    <div class="modal-body">
                        <div class="container-modal">
                            <!--hidden fields-->
                            <input id="modal-role-id" hidden="true" name="id"/>
                            <div class="row">
                                <div class="col-sm-3">
                                        <label th:text="#{lbl.allow}"></label>
                                </div>

                                <div class="col-sm-7">
                                    <div class="input-group input-group-combo">
                                        <div class="radio radio-inline radio-info" style="margin-top: 0px">
                                            <input value="0" type="radio" id="radio-allow" name="rad-block" checked="checked"/>
                                            <label for="radio-allow" th:text="#{lbl.yes}"></label>
                                        </div>
                                        <div class="radio radio-inline radio-info">
                                            <input value="1" type="radio" id="radio-not-allow" name="rad-block"/>
                                            <label for="radio-not-allow" th:text="#{lbl.no}"></label>
                                        </div>

                                    </div>
                                </div>

                            </div>

                     </div>

                        <table id="tbl-table-role"
                               data-pagination="true"
                               data-search="false"
                               data-click-to-select="true"
                               data-page-size = "5"
                               class="table-striped"
                        >
                            <thead>
                            <tr>
                                <th data-formatter="runningFormatter" data-align="center" data-width="50px">STT</th>
                                <th class="col-md-1" data-field="id" data-align="left" data-sortable="true" data-visible="false"></th>
                                <th class="col-md-2" data-field="radio" data-align="left" data-sortable="true"  data-radio = "true" th:text="#{lbl.sellect}"></th>
                                <th class="col-md-5" data-field="code" data-align="left" data-sortable="true" th:text="#{lbl.roletable.code}"></th>
                                <th class="col-md-5" data-field="name" data-align="left" data-sortable="true" th:text="#{lbl.roletable.name}"></th>
                            </tr>
                            </thead>

                        </table>

                    </div>
                    <div class="modal-footer">
                        <button id="modal-update-assign-role"  type="button" th:value="@{${controller}+'updateUserRole'}" class="btn btn-primary" >
                            <i class="fa fa-check"></i>
                            <span th:text="#{btn.update}"></span>
                        </button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            <i class="fa fa-close"></i>
                            <span th:text="#{btn.close}"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</html>