<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<div th:fragment="frag-cat-goods-modal">
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form id="cat-goods-insert-update-form" action="" method="post">
                <div class="modal-content" id="catUserDTO-modal">
                    <div class="modal-header">
                        <button type="button" class="close fa fa-close" data-dismiss="modal" aria-label="Close">
                        </button>
                        <h4 class="modal-title" id="myModalLabel" th:text="#{btn.add}" ></h4>
                    </div>
                    <div class="modal-body">
                        <div class="container-modal">
                            <div class="row row-header-first">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <input id="modal-inp-id" hidden="true" name="id"/>
                                    </div>
                                </div>
                            </div>

                            <div class="leftForm">
                                <div class="row row-header">
                                    <div class="col-sm-12">
                                        <div class="input-group">
                                            <label for="modal-inp-code" class="control-label label-require" th:utext="#{lbl.goodsCode}"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-content">
                                    <div class="col-sm-12">
                                        <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa  fa-server fa-fw"></i>
                                                </span>
                                            <input id="modal-inp-code" class="form-control" type="text" required="true" name="code" maxlength="50"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="row row-header">
                                    <div class="col-sm-12">
                                        <div class="input-group">
                                            <label for="modal-inp-name" class="control-label label-require" th:utext="#{lbl.goodsName}"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-content">
                                    <div class="col-sm-12">
                                        <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa  fa-server fa-fw"></i>
                                                </span>
                                            <input id="modal-inp-name" class="form-control " type="text" th:required="true" name="name"  maxlength="100" placeholder=""/>
                                        </div>
                                    </div>
                                </div>

                                <div class="row row-header">
                                    <div class="col-sm-12">
                                        <div class="input-group">
                                            <label for="modal-cmb-goods-unit" class="control-label label-require" th:text="#{lbl.goodsUnit}"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-content">
                                    <div class="col-sm-12">
                                        <div class="input-group input-group-combo">
                                            <span class="input-group-addon">
                                                 <i class="fa  fa-server fa-fw"></i>
                                            </span>
                                            <select id="modal-cmb-goods-unit" class="combobox form-control selectpicker" name="unitType" data-live-search="true"  data-width="100%"
                                                    th:required="true" autocomplete="off">
                                                <option th:each="sopt:${mapUnitType.entrySet()}"
                                                        th:value="${sopt.key}" th:text="${sopt.value}"></option>

                                            </select>

                                        </div>
                                    </div>
                                </div>

                                <div class="row row-header">
                                    <div class="col-sm-12">
                                        <div class="input-group">
                                            <label for="modal-cmb-goods-group" class="control-label label-require" th:text="#{lbl.goodsgroup}"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-content">
                                    <div class="col-sm-12">
                                        <div class="input-group input-group-combo">
                                                <span class="input-group-addon">
                                                    <i class="fa  fa-server fa-fw"></i>
                                                </span>
                                            <select id="modal-cmb-goods-group" class="combobox form-control selectpicker" data-live-search="true"  data-width="100%"
                                                    name="goodsGroupId">
                                                <option th:each="sopt:${mapGoodsGroup.entrySet()}"
                                                    th:value="${sopt.key}" th:text="${sopt.value}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="rightForm">

                                <div class="row row-header">
                                    <div class="col-sm-6">
                                        <div class="input-group">
                                            <label for="modal-cmb-serial" class="control-label" th:text="#{lbl.isSerial}"></label>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="input-group">
                                            <label for="modal-cmb-status" class="control-label" th:text="#{lbl.status}"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-content">
                                    <div class="col-sm-6">
                                        <div class="input-group">
                                            <input id="modal-cmb-serial" name="isSerial" data-toggle="toggle" type="checkbox"/>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="input-group">
                                            <input id="modal-cmb-status" name="status" data-toggle="toggle" type="checkbox"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="row row-header">
                                    <div class="col-sm-12">
                                        <div class="input-group">
                                            <label for="modal-inp-input-price" class="control-label" th:text="#{lbl.inputPrice}"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-content">
                                    <div class="col-sm-12">
                                        <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-angle-double-right fa-fw"></i>
                                                </span>
                                            <input id="modal-inp-input-price" class="form-control" name="inPrice" data-validation="number"
                                                   data-validation-allowing="float"
                                            />
                                        </div>
                                    </div>
                                </div>

                                <div class="row row-content">
                                    <div class="col-sm-12">
                                        <div class="input-group">
                                            <p id="modal-label-input-price" style="font-size:0.8em;color: #337ab7;line-height: 1em;"></p>
                                        </div>
                                    </div>
                                </div>

                                <div class="row row-header">
                                    <div class="col-sm-12">
                                        <div class="input-group">
                                            <label for="modal-inp-output-price" class="control-label" th:text="#{lbl.outputPrice}"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-content">
                                    <div class="col-sm-12">
                                        <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-angle-double-left fa-fw"></i>
                                                </span>
                                            <input id="modal-inp-output-price" class="form-control" name="outPrice" data-validation="number" data-validation-allowing="float"
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-content">
                                    <div class="col-sm-12">
                                        <div class="input-group">
                                            <p id="modal-label-output-price" style="font-size:0.8em;color: #337ab7;line-height: 1em;"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-content" style="float: right;">
                                    <div class="col-sm-12">
                                        <div class="input-group">
                                            <button id="modal-btn-update"  type="submit" class="btn btn-primary" th:text="#{btn.update}" ></button>
                                            <button id="modal-btn-add"     type="submit" class="btn btn-primary" th:text="#{btn.add}"></button>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{btn.close}"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer" style="border-top: none !important;">
                        <!--<button id="modal-btn-update"  type="submit" class="btn btn-primary" th:text="#{btn.update}" ></button>-->
                        <!--<button id="modal-btn-add"     type="submit" class="btn btn-primary" th:text="#{btn.add}"></button>-->
                        <!--<button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{btn.close}"></button>-->
                    </div>
                </div>

            </form>
        </div>
    </div>

    <script>
        $("#modal-inp-input-price").keyup(function() {
            var currentValue = unFormatFloat($("#modal-inp-input-price").val());
            $('#modal-label-input-price').text(DOCSO.doc(currentValue));
            $('#modal-inp-input-price').val(currentValue);
        });

        $("#modal-inp-output-price").keyup(function() {
            var currentValue = unFormatFloat($("#modal-inp-output-price").val());
            $('#modal-label-output-price').text(DOCSO.doc(currentValue));
            $('#modal-inp-output-price').val(currentValue);
        });

        $('#cat-goods-insert-update-form').submit(function() {
            $(this).find('input:text').each(function(){
                $(this).val($.trim($(this).val()));
            });
        });
    </script>

</div>

</body>
</html>