<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<div th:fragment="frag-cat-emp-modal">
    <!-- Modal -->
    <div class="modal fade" id="insert-update-modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="true" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-mini" role="document">
            <form id="emp-insert-update-form" method="post">
                <div class="modal-content" id="catUserDTO-modal">
                    <div class="modal-header">
                        <button type="button" class="close fa fa-close" data-dismiss="modal" aria-label="Close">
                        </button>
                        <h4 class="modal-title" id="myModalLabel" th:text="#{btn.add}"></h4>
                    </div>
                    <div class="modal-body">
                        <div class="container-modal">
                            <!--hidden fields-->
                            <input id="modal-id" hidden="true" name="id"/>


                            <div  id = "modal-usage" th:if="${isRoot}">
                                <div class="row row-header">
                                    <div class="col-sm-12">
                                        <div class="input-group">
                                            <label for="modal-code" class="control-label label-require" th:text="#{lbl.usage}"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-content">
                                    <div class="col-sm-12">
                                        <div class="input-group" style=" width: 100%">
                                            <select name="custId" id="usageUnit" class="form-control selectpicker"  data-live-search="true" data-width="100%">
                                                <option  th:each="sopt:${mapIdCust.values()}"
                                                         th:value="${sopt.id}" th:text="${sopt.name}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div th:unless="${isRoot}">
                                <input id="modal-custId" hidden="true" name="custId"/>
                            </div>
                            <!---->
                            <div class="row row-header">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <label for="modal-code" class="control-label label-require" th:text="#{lbl.userCode}"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-content">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-barcode fa-fw"></i>
                                        </span>
                                        <input id="modal-code" class="form-control" type="text" th:required="true" name="code" />
                                    </div>
                                </div>
                            </div>
                            <!--name-->
                            <div class="row row-header">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <label for="modal-name" class="control-label label-require" th:text="#{lbl.fullname}"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-content">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa  fa-server fa-fw"></i>
                                        </span>
                                        <input id="modal-name" class="form-control" type="text" th:required="true" name="name" maxlength="100"  />
                                    </div>
                                </div>
                            </div>
                            <!--email-->
                            <div class="row row-header">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <label for="modal-email" class="control-label" th:text="#{lbl.email }"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-content">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-address-card-o fa-fw"></i>
                                        </span>
                                        <input id="modal-email" class="form-control" type="text" name="email" maxlength="200"  />
                                    </div>
                                </div>
                            </div>
                            <!--msisdn-->
                            <div class="row row-header">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <label for="modal-tel" class="control-label" th:text="#{lbl.telNumber}"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-content">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-address-card-o fa-fw"></i>
                                        </span>
                                        <input id="modal-tel" class="form-control" type="text" name="telNumber" maxlength="200"  />
                                    </div>
                                </div>
                            </div>
                            <!--row 3-->
                            <div class="row row-header">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <label class="control-label" th:text="#{lbl.status}"></label>
                                    </div>
                                </div>
                            </div>
                            <div id="div-status" class="row row-content">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <input id="modal-cmb-status" name="status" data-toggle="toggle" type="checkbox" data-width="110" data-on="Hiệu lực" data-off="Hết hiệu lực"/>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="modal-btn-update"  type="submit" class="btn btn-primary">
                            <i class="fa fa-check"></i>
                            <span th:text="#{btn.update}"></span>
                        </button>
                        <button id="modal-btn-add"     type="submit" class="btn btn-primary">
                            <i class="fa fa-plus"></i>
                            <span th:text="#{btn.add}"></span>
                        </button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            <i class="fa fa-close"></i>
                            <span th:text="#{btn.close}"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>