<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<div th:fragment="frag-confirm-download-goods-error-modal">
    <!-- Modal -->
    <div class="modal fade" id="myDownloadGoodsErrorModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document"  style="width:300px">
            <div class="modal-content" id="catUserDTO-modal">
                <div class="modal-header">
                    <button type="button" class="close fa fa-close" data-dismiss="modal" aria-label="Close">
                    </button>
                    <h4 class="modal-title" id="myConfirmModalLabel" th:text="#{modal.label.confirm}"></h4>
                </div>
                <div class="modal-body">
                    <div class="container-modal" style="height: 50px">
                        <p id="modal-lbl-info">Thông tin tải lên chứa lỗi!</p>
                        <p><a id="link-download" class="link-label" style="float:left" th:text="#{link.downloadfile}" th:href="@{/workspace/cat_goods_ctr/getErrorImportFile}"/>
                        </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>