<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<div th:fragment="frag-goods-detail-modal">
    <!-- Modal -->
    <div class="modal fade" id="goods-detail-modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="true"
         aria-labelledby="myModalLabel" aria-hidden="true" th:width="500px">
        <div class="modal-dialog" role="document" style="width:100%">
                <div class="modal-content" id="catUserDTO-modal">
                    <div class="modal-header">
                        <button type="button" class="close fa fa-close" data-dismiss="modal" aria-label="Close">
                        </button>
                        <h4 class="modal-title" id="myModalLabel" th:text="#{modal.label.goodsdetail}"></h4>
                    </div>
                    <div class="modal-body">
                        <div class="container-modal">
                            <div class="panel-body" style="padding: 0em 0.4em;">
                                    <div class="row" style="margin-bottom: 10px">
                                        <div class="col-sm-2">
                                            <label id="lbl-goods-name" th:text="#{lbl.goodsCode}"></label>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="input-group">
                                                <label id="modal-lbl-goods-name-val"></label>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                                <label id="lbl-stock-name" th:text="#{lbl.stock}"></label>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="input-group">
                                                <label id="modal-lbl-stock-name-val"></label>
                                            </div>
                                        </div>
                                    </div>
                                <div id="modal-goods-detail-toolbar" class="btn-group">
                                    <a class="btn btn-default" id="link-download-goods-detail" th:title="#{link.downloadfile}" th:href="@{/workspace/utils/stockInfo/getGoodsDetailFile}">
                                        <i class="fa fa-download"></i>
                                    </a>
                                </div>

                                <table  id="tbl-goods-detail"
                                        data-pagination="true"
                                        data-side-pagination="server"
                                        data-search="true"
                                        data-click-to-select="true"
                                        data-toolbar="#modal-goods-detail-toolbar"
                                        class="table-striped"
                                        style="word-wrap: break-word;  table-layout: fixed;"
                                >

                                    <thead>
                                    <tr>
                                        <th data-field="id" data-formatter="runningFormatter" data-align="center" data-width="40px">#</th>
                                        <th class="col-md-1" data-field="serial" data-align="left" data-sortable="true">Serial</th>
                                        <th data-field="partnerName" data-align="left" data-sortable="true">Đối tác cung cấp</th>
                                        <th class="col-md-1" data-field="amountValue" data-align="right" data-sortable="true">Số lượng</th>
                                        <th class="col-md-1" data-field="unitName" data-align="left" data-sortable="true" >Đơn vị</th>
                                        <th class="col-md-1" data-field="goodsStateValue" data-align="left" data-sortable="true" data-formatter="formatterGoodsStatus">Tình trạng</th>
                                        <th class="col-md-1" data-field="importDate" data-align="center" data-sortable="true">Thời gian nhập</th>
                                        <th class="col-md-1" data-field="inputPriceValue" data-align="right" data-sortable="true">Giá nhập</th>
                                        <th class="col-md-1" data-field="cellCode" data-align="left" data-sortable="true">Vị trí</th>
                                        <th class="col-md-1" data-field="weight" data-align="right" data-sortable="true">Trọng lượng(kg)</th>
                                        <th class="col-md-1" data-field="volume" data-align="right" data-sortable="true">Kích thước(m3)</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="modal-btn-add" type="submit" class="btn btn-primary" data-dismiss="modal">
                            <i class="fa fa-close"></i>
                            <span th:text="#{btn.close}"></span>
                        </button>
                    </div>
                </div>
        </div>
    </div>
</div>

</body>
</html>