<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<div th:fragment="frag-reset-password">
    <!-- Modal -->
    <div class="modal fade" id="resetpasss" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="true" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-dialog-mini" role="document">
            <form id="reset-password-form">
                <div class="modal-content" id="cat-form-modal">
                    <div class="modal-header">
                        <button type="button" class="close fa fa-close" data-dismiss="modal" aria-label="Close">
                        </button>
                        <h4 class="modal-title" id="myModalLabel" th:text="#{title.resetpass}"></h4>
                    </div>

                    <div class="modal-body">
                        <div class="container-modal">
                            <!--hidden fields-->
                            <input id="modal-userId" hidden="true" name="id"/>
                            <div class="row row-header">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <label  class="control-label" th:text="#{lbl.signin.user}"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-content">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <label id="modal-reset-code" class="control-label" style=" margin-bottom: 1px;font-weight: bold;"></label>
                                    </div>
                                </div>
                            </div>

                            <div class="row row-header">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <label for="password" class="control-label label-require" th:text="#{title.newpassword}"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-content">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-lock fa-lg"></i>
                                    </span>
                                        <input id="password" type="password" class="form-control" th:required="true" name="password"  maxlength="100"/>
                                    </div>
                                </div>
                            </div>

                            <div class="row row-header">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="confirm" class="control-label label-require" style="float: left" th:text="#{title.newpassword.reinput}"></label>
                                         <label id="message" class="control-label" style='float: right'></label>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-content">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-lock fa-lg"></i>
                                    </span>
                                        <input id="confirm" type="password" class="form-control" th:required="true" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="modal-footer">
                        <button id="modal-btn-reset"  type="button" class="btn btn-primary" th:value="@{${controller} + 'resetPassWord'}">
                            <i class="fa fa-check"></i>
                            <span th:text="#{btn.execuse}"></span>
                        </button>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</html>