div.tree-multiselect>div.selections.no-border {
  width: 100%;
  max-height: 400px;
}
#mapRoleMenu .tree-multiselect label{
   float: none !important;
 }

#modal-dept  .dropdown-toggle{
    width: 100%;
}
#modal-dept  .dropdown-menu{
    width: 100%;
}
#modal-dept  .caret{
    float: right;
}