<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<title>WMS Portal</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="description" content="Free HTML5 Website Template by gettemplates.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="gettemplates.co" />

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link rel="stylesheet" href="css/animate.css" th:href="@{/css/animate.css}"/>
	<link rel="stylesheet" href="css/icomoon.css" th:href="@{/css/icomoon.css}"/>
	<link rel="stylesheet" href="css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
	<link rel="stylesheet" href="css/style.css" th:href="@{/css/style.css}" />
	<link rel="stylesheet" href="/fonts/font-awesome/css/font-awesome.min.css" th:href="@{/fonts/font-awesome/css/font-awesome.min.css}"/>
	<!-- jQuery -->
	<script th:attr="src=@{/js/wow.min.js}"  th:href="@{/js/wow.min.js}"></script>
	<script>
		new WOW().init();
	</script>
		<script th:inline="javascript">
			var registerUrl = '/register';
			$.get(registerUrl,function (result) {
				showDialog('dialog title', result);
			});
		</script>

	<!--script for regigster	-->


	<script src="js/jquery-1.10.2.min.js" th:href="@{/js/jquery-1.10.2.min.js}"></script>
	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js" th:href="@{/js/modernizr-2.6.2.min.js.css}"></script>

	</head>
	<body>
	<div class="fh5co-loader"></div>

	<div id="page">
	<nav class="fh5co-nav" role="navigation">
		<div class="container">
			<div class="row">
				<div class="col-xs-2">
					<div id="fh5co-logo"><a href="index_boot.html">WMS</a></div>
				</div>
				<div class="col-xs-10 text-right menu-1">
					<ul>
						<li><a href="index_boot.html">Home</a></li>
						<li><a href="work.html">Work</a></li>
						<li><a href="about.html">About</a></li>
						<li class="has-dropdown active">
							<a href="index.html">Services</a>
							<ul class="dropdown">
								<li><a href="#">Web Design</a></li>
								<li><a href="#">eCommerce</a></li>
								<li><a href="#">Branding</a></li>
								<li><a href="#">API</a></li>
							</ul>
						</li>
						<li class="has-dropdown">
							<a href="#">Tools</a>
							<ul class="dropdown">
								<li><a href="#">HTML5</a></li>
								<li><a href="#">CSS3</a></li>
								<li><a href="#">Sass</a></li>
								<li><a href="#">jQuery</a></li>
							</ul>
						</li>
						<li><a href="contact.html">Contact</a></li>
						<li class="btn-cta"><a href="#"><span>Login 2</span></a></li>
					</ul>
				</div>
			</div>
			
		</div>
	</nav>

	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(images/img_bg_2.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Services</h1>
							<h2>Free html5 templates Made by <a href="http://freehtml5.co" target="_blank">freehtml5.co</a></h2>
						</div>
						<!--login form-->
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<p th:text="${errorMessage}" style="color:red"></p>
							<form action="#" th:attr="action=@{/login}" method="post">
								<div class="left">
									<div class="username">
										<input type="text" name="username" class="username" placeholder="Your Name" required=""/>
									</div>

									<div class="email">
										<input type="password" name="password" class="email" placeholder="Your Password" required=""/>
									</div>
									<input type="submit" class="btn btn-default" value="Login"/>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	
	<div id="fh5co-services">
		<div class="container">
			<div class="col-md-6 col-sm-6 animate-box">
				<div class="feature-center">
					<span class="icon icon2">
						<i class="icon-eye"></i>
					</span>
					<div class="desc">
						<h3>Retina Ready</h3>
						<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 animate-box">
				<div class="feature-center">
					<span class="icon icon2">
						<i class="icon-command"></i>
					</span>
					<div class="desc">
						<h3>Fully Responsive</h3>
						<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 animate-box">
				<div class="feature-center">
					<span class="icon icon2">
						<i class="icon-power"></i>
					</span>
					<div class="desc">
						<h3>Web Starter</h3>
						<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-sm-6 animate-box">
				<div class="feature-center">
					<span class="icon icon2">
						<i class="icon-brush"></i>
					</span>
					<div class="desc">
						<h3>Web Design</h3>
						<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 animate-box">
				<div class="feature-center">
					<span class="icon icon2">
						<i class="icon-video2"></i>
					</span>
					<div class="desc">
						<h3>Video Editing</h3>
						<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 animate-box">
				<div class="feature-center">
					<span class="icon icon2">
						<i class="icon-help2"></i>
					</span>
					<div class="desc">
						<h3>24/7 Help &amp; Support</h3>
						<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-started" class="register">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Lets Get Started</h2>
					<h2 th:text="${message}"></h2>
					<!--login form-->
					<div class="display-tc animate-box" data-animate-effect="fadeIn">
						<!--<form action="#" th:attr="action=@{/register}" th:object="${registerUser}" method="post">-->
							<div class="left">

								<div class="email">
									<input type="email" id="register-email"   name="email" class="email" placeholder="Your email" required=""/>
								</div>

								<div class="username">
									<input type="text"  id="register-username" name="username" class="username" placeholder="Your name" required=""/>
								</div>

								<div class="password">
									<input type="password" id="register-password" name="password" class="email" placeholder="Your password" required=""/>
								</div>
								<div>
									<p id="register-info" style="margin-top: 15px;margin-left:-60px"></p>
								</div>
								<div class="row animate-box" >
									<div class="col-md-8 col-md-offset-2">
											<div class="col-md-6 col-md-offset-3 col-sm-6">
												<button id="btn-register" th:value="@{/register}" type="submit" class="btn btn-default btn-block" >Register</button>
											</div>
									</div>
								</div>

							</div>
						<!--</form>-->
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer id="fh5co-footer" role="contentinfo">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-4 fh5co-widget">
					<h3>King.</h3>
					<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
					<p><a href="#">Learn More</a></p>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
					<ul class="fh5co-footer-links">
						<li><a href="#">About</a></li>
						<li><a href="#">Help</a></li>
						<li><a href="#">Contact</a></li>
						<li><a href="#">Terms</a></li>
						<li><a href="#">Meetups</a></li>
					</ul>
				</div>

				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
					<ul class="fh5co-footer-links">
						<li><a href="#">Shop</a></li>
						<li><a href="#">Privacy</a></li>
						<li><a href="#">Testimonials</a></li>
						<li><a href="#">Handbook</a></li>
						<li><a href="#">Held Desk</a></li>
					</ul>
				</div>

				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
					<ul class="fh5co-footer-links">
						<li><a href="#">Find Designers</a></li>
						<li><a href="#">Find Developers</a></li>
						<li><a href="#">Teams</a></li>
						<li><a href="#">Advertise</a></li>
						<li><a href="#">API</a></li>
					</ul>
				</div>
			</div>

			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">&copy; 2016 Free HTML5. All Rights Reserved.</small> 
						<small class="block">Designed by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a> Demo Images: <a href="http://unsplash.com/" target="_blank">Unsplash</a></small>
					</p>
					<p>
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
						</ul>
					</p>
				</div>
			</div>

		</div>
	</footer>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="fa fa-arrow-up fw"></i></a>
	</div>

	<script>
		var $btnRegister = $('#btn-register');
		$(function () {
			$btnRegister.click(function () {
				emailVal    = $('#register-email').val();
				usernameVal = $('#register-username').val();
				passwordVal = $('#register-password').val();

				$.ajax({
					type: "POST",
					contentType: "application/x-www-form-urlencoded; charset=UTF-8",
					url: $btnRegister.val(),
					data:{username:usernameVal,email:emailVal,password:passwordVal},
					dataType: 'text',
					timeout: 600000,
					success: function (data) {
						document.getElementById("register-info").innerHTML = data;
					},
					error:function (data) {
						alert('error');
						alert(data);
					}
				});
			})
		});

	</script>


	</div>

	<!-- jQuery scroll -->
	<script th:attr="src=@{/js/jquery.nicescroll.js}" th:href="@{/js/jquery.nicescroll.js}"></script>
	<script th:attr="src=@{/js/scripts.js}" th:href="@{/js/scripts.js}"></script>

	<script src="js/jquery.easing.1.3.js" th:href="@{js/jquery.easing.1.3.js}"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js" th:href="@{js/bootstrap.min.js}"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js" th:href="@{js/jquery.waypoints.min.js}"></script>
	<!-- Main -->
	<script src="js/main.js" th:href="@{js/main.js}"></script>
	</body>
</html>

