<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" href="css/bootstrap-table.css" th:href="@{/css/bootstrap-table.css}"/>
    <!--font-->
    <link rel="stylesheet" href="/fonts/font-awesome/css/font-awesome.min.css" th:href="@{/fonts/font-awesome/css/font-awesome.min.css}"/>

    <script th:attr="src=@{/js/jquery-1.10.2.min.js}"  th:href="@{/js/jquery-1.10.2.min.js}"></script>
    <script th:attr="src=@{/js/bootstrap-table.js}"  th:href="@{/js/bootstrap-table.js}"></script>
    <script th:attr="src=@{/js/wms-common.js}"  th:href="@{/js/wms-common.js}"></script>
</head>
<body style="padding: 10px;">

    <form id="upload-file-form" method="post" th:action="@{/workspace/upload}" enctype="multipart/form-data">
        <div class="input-group">
            <label for="upload-file-input">Upload your file:</label>
            <input id="upload-file-input" type="file" class="form-control" name="uploadfile" />
            <input id="inp-username" class="form-control" type="text" name="username"/>
            <button id="btn-submit" type="submit" class="btn btn-default" th:value="@{/workspace/upload}">Upload</button>
            <p></p>
            <label id="upload-action-info"></label>
        </div>
    </form>

    <script>
//        $btnUpload = $('#btn-submit');
//        $btnUpload.click(function () {
//            var fileName = $('#upload-file-input').val();
//            var fileExtension = getExtension(fileName);
//            if(!isDocument(fileExtension)){
//                alert('File không đúng định dạng!');
//                return;
//            }
//            $.ajax({
//                url: $btnUpload.val(),
//                type: 'POST',
//                data:{uploadfile:new FormData($("#upload-file-form")[0]),username:"duyot"},
//                enctype: 'multipart/form-data',
//                processData: false,
//                contentType: false,
//                cache: false,
//                success:function (data) {
//                    document.getElementById("upload-action-info").innerHTML = data;
//                },
//                error:function () {
//                    document.getElementById("upload-action-info").innerHTML = 'Quá dung lượng hoặc file không hỗ trợ';
//                }
//            });
//
//            $("#upload-file-input").val('');
//        });

//        $('#upload-file-form').submit(function(evt){
//            evt.preventDefault();
//            formData = $('#upload-file-form').serialize();
//
//            var fileName = $('#upload-file-input').val();
//            var fileExtension = getExtension(fileName);
//            if(!isDocument(fileExtension)){
//                alert('File không đúng định dạng!');
//                return;
//            }
//
//            var postData = {uploadfile:new FormData($("#upload-file-form")[0]),username:"duyot"}
//
//            $.ajax({
//                url: $('#btn-submit').val(),
//                type: 'POST',
//                data:JSON.stringify(postData) ,
//                enctype: 'multipart/form-data',
//                processData: false,
//                contentType: false,
//                cache: false,
//                success:function (data) {
//                    document.getElementById("upload-action-info").innerHTML = data;
//                },
//                error:function () {
//                    document.getElementById("upload-action-info").innerHTML = 'Quá dung lượng hoặc file không hỗ trợ';
//                }
//            });
//
//            $("#upload-file-input").val('');
//        });

    </script>
</body>
</html>