<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Quản lý kho - Bán hàng</title>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="keywords" content="wms WMS warehouse management system stock goods kho hàng quản lý kho shop"/>
	<meta name="description" content="wms WMS warehouse management system stock goods kho hàng quản lý kho shop"/>
	<meta name="author" content="duyot" />
	<meta property="og:title" content="wms WMS warehouse management system stock goods kho hàng quản lý kho shop" />
	<meta property="og:description" content="wms WMS warehouse management system stock goods kho hàng quản lý kho shop" />
	<meta property="og:image" th:content="@{/images/wms_favicon.ico}" content="/images/wms_favicon.ico" />
	<link rel="shortcut icon" th:href="@{/images/wms_favicon.ico}"/>
	<link rel="alternate" href="https://394solutions.com/" hreflang="en" />

	<link rel="stylesheet" th:href="@{/home_page/bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{/home_page/animate.min.css}"/>
	<link rel="stylesheet" th:href="@{/home_page/et-line-font.css}"/>
	<link rel="stylesheet" th:href="@{/home_page/nivo-lightbox.css}"/>
	<link rel="stylesheet" th:href="@{/home_page/nivo_themes/default/default.css}"/>
	<link rel="stylesheet" th:href="@{/home_page/style.css}"/>

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'/>

	<!--<script type="text/javascript"> window.$crisp=[];window.CRISP_WEBSITE_ID="ea9a55cc-f900-4b38-81f4-ed928917fe51";(function(){ d=document;s=d.createElement("script"); s.src="https://client.crisp.chat/l.js"; s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})(); </script>-->
</head>
<body data-spy="scroll" data-target=".navbar-collapse" data-offset="50">
<!-- Load Facebook SDK for JavaScript -->
<!--<div id="fb-root"></div>-->
<!--<script>(function(d, s, id) {-->
    <!--var js, fjs = d.getElementsByTagName(s)[0];-->
    <!--if (d.getElementById(id)) return;-->
    <!--js = d.createElement(s); js.id = id;-->

    <!--var src = unescape('https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js#xfbml=1%26version=v2.12%26autoLogAppEvents=1');-->
    <!--js.src = src;-->
    <!--fjs.parentNode.insertBefore(js, fjs);-->
<!--}(document, 'script', 'facebooket-line.woff-jssdk'));</script>-->

<!--&lt;!&ndash; Your customer chat code &ndash;&gt;-->
<!--<div class="fb-customerchat"-->
	 <!--attribution="setup_tool"-->
	 <!--page_id="431787257288719">-->
<!--</div>-->

<script type="application/ld+json">
{
   "@context":"http://schema.org",
   "@type":"SoftwareApplication",
   "name":"System",
   "image":"https://394solutions.com/home_page/images/home-bg-slideshow2.jpg",
   "url":"http://394solutions.com/",
   "author":{
      "@type":"Person",
      "name":"duyot"
   },
   "publisher":{
      "@type":"Organization",
      "name":"WMS team"
   },
   "applicationCategory":"warehouse, import, export, statistic, revenue, hàng hóa, kho, nhập, xuất, quản lý",
   "operatingSystem":"Window",
   "requirements":"Web Browser",
   "softwareVersion":"1.0.0",
   "aggregateRating":{
      "@type":"AggregateRating",
      "ratingValue":"5",
      "bestRating":"5",
      "ratingCount ":"5"
   },
   "review":{
      "@type":"Review",
      "author":{
         "@type":"Person",
         "name":"duyot"
      },
      "reviewRating":{
         "@type":"Rating",
         "ratingValue":"5"
      },
      "offers":{
         "@type":"Offer",
         "priceSpecification":{
            "@type":"PriceSpecification",
            "priceCurrency":"VND",
            "price":"200.000"
         },
         "priceCurrency":"VND",
         "price":"200.000"
      }
   },
   "offers":{
      "@type":"Offer",
      "priceSpecification":{
         "@type":"PriceSpecification",
         "priceCurrency":"VND",
         "price":"200.000"
      },
      "priceCurrency":"VND",
      "price":"200.000"
   }
}
</script>
<script type="application/ld+json">
{
"@context": "http://schema.org",
  "@type": "Organization",
  "url": "http://394solutions.com",
  "logo": "https://394solutions.com/images/google_icon.png"
}
</script>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Person",
  "name": "WMS team",
  "url": "https://x8store.com/",
  "sameAs": [
    "https://www.facebook.com/DuyCoi10",
    "http://instagram.com/yourProfile",
    "http://www.linkedin.com/in/yourprofile",
    "http://plus.google.com/your_profile"
  ]
}
</script>

<div class="preloader">
	<div class="sk-spinner sk-spinner-circle">
		<div class="sk-circle1 sk-circle"></div>
		<div class="sk-circle2 sk-circle"></div>
		<div class="sk-circle3 sk-circle"></div>
		<div class="sk-circle4 sk-circle"></div>
		<div class="sk-circle5 sk-circle"></div>
		<div class="sk-circle6 sk-circle"></div>
		<div class="sk-circle7 sk-circle"></div>
		<div class="sk-circle8 sk-circle"></div>
		<div class="sk-circle9 sk-circle"></div>
		<div class="sk-circle10 sk-circle"></div>
		<div class="sk-circle11 sk-circle"></div>
		<div class="sk-circle12 sk-circle"></div>
	</div>
</div>

<section class="navbar navbar-fixed-top custom-navbar" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
			</button>
			<a href="#" class="navbar-brand">x8Store</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#home" class="smoothScroll">Trang chủ</a></li>
				<li><a href="#work" class="smoothScroll">Sản phẩm</a></li>
				<li><a href="#about" class="smoothScroll">Tính năng</a></li>
				<!--<li><a href="#team" class="smoothScroll">TEAM</a></li>-->
				<li><a href="#portfolio" class="smoothScroll">Khách hàng</a></li>
				<li><a href="#pricing" class="smoothScroll">Bảng giá</a></li>
				<li><a href="#contact" class="smoothScroll">Liên hệ</a></li>
                <li><a th:href="@{/register}" >Đăng ký</a></li>
			</ul>
		</div>
	</div>
</section>

<section id="home">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h3>Xuất-nhập-tồn / Doanh thu-lợi nhuận / Tiện ích-Báo cáo</h3>
				<h1>Hệ thống Quản lý kho - Bán hàng</h1>
				<hr/>
				<a th:href="@{/login}" th:text="#{home.login}" class="smoothScroll btn btn-default"></a>
				<a th:href="@{/register}" th:text="#{home.register}" class="smoothScroll btn btn-default"></a>
			</div>
		</div>
	</div>
</section>

<section id="work">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="section-title">
					<strong>01</strong>
					<h1 class="heading bold">Sản phẩm</h1>
					<hr/>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
				<i class="icon-cloud medium-icon"></i>
				<h3>Triển khai</h3>
				<hr/>
				<p>Triển khai dưới dạng cloud, không cần trang bị máy tính cấu hình cao, không cần cài đặt, nâng cấp tự động, sử dụng được mọi nơi.</p>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.9s">
				<i class="icon-mobile medium-icon"></i>
				<h3>Thiết kế</h3>
				<hr/>
				<p>Giao diện đơn giản, dễ sử dụng, có nhiều tiện ích để thực hiện thao tác nhanh và chính xác hơn.</p>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="1s">
				<i class="icon-laptop medium-icon"></i>
				<h3>Bảo mật</h3>
				<hr/>
				<p>Được bảo mật chặt chẽ. Dữ liệu riêng biệt, được sao lưu định kỳ hàng ngày đảm bảo an toàn, ổn định.</p>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="1s">
				<i class="icon-compass medium-icon"></i>
				<h3>Đáp ứng</h3>
				<hr/>
				<p>Đầy đủ tính năng nghiệp vụ, tiện ích phục vụ quản lý kho, bán hàng. Quản lý hàng hóa tới từng serial chi tiết, vị trí lưu trữ cụ thể trên giá kệ. Dữ liệu online đảm bảo chính xác, kịp thời</p>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="1s">
				<i class="icon-chat medium-icon"></i>
				<h3>Mở rộng</h3>
				<hr/>
				<p>Dễ dàng mở rộng hàng hóa, kho kinh doanh, kho lưu trữ, cửa hàng bán lẻ, đối tác, khách hàng khi có nhu cầu quản lý trên hệ thống</p>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="1s">
				<i class="icon-browser medium-icon"></i>
				<h3>Tương thích</h3>
				<hr/>
				<p>Hệ thống tương thích với các trình duyệt khác nhau, các kích thước của thiết bị hiển thị khác nhau như PC, Laptop, Iphone, IPad, Tablet</p>
			</div>
		</div>
	</div>
</section>

<section id="about">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 text-center">
				<div class="section-title">
					<strong>02</strong>
					<h1 class="heading bold">Tính năng nổi bật</h1>
					<hr/>
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<img th:src="@{home_page/images/office_shoes_new.jpg}" class="img-responsive" alt="Warehouse"/>
			</div>
			<div class="col-md-6 col-sm-12">
				<!--<h3 class="bold">Hệ thống gồm 2 module Quản lý kho và Quản lý bán hàng có liên kết chặt chẽ với nhau</h3>-->
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li class="active"><a href="#thuekho" aria-controls="thuekho" role="tab" data-toggle="tab">Doanh nghiệp logistics</a></li>
					<li><a href="#doanhnghiep" aria-controls="doanhnghiep" role="tab" data-toggle="tab">Doanh nghiệp sản xuất</a></li>
					<li><a href="#cuahang" aria-controls="cuahang" role="tab" data-toggle="tab">Cửa hàng</a></li>
				</ul>
				<!-- tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="thuekho">
                        <ul>
							<li>Quản lý xuất/nhập/tồn kho theo từng đối tác gửi hàng</li>
                            <li>Tính tiền lưu kho tự động</li>
							<li>Quản lý hàng hóa theo vị trí-serial</li>
							<li>Phân quyền quản lý theo kho/đối tác gửi hàng</li>
							<li>API tích hợp với hệ thống của đối tác gửi hàng</li>
                        </ul>
					</div>
					<div role="tabpanel" class="tab-pane" id="doanhnghiep">
						<ul>
							<li>Quản lý xuất/nhập/tồn kho</li>
							<li>Quản lý hàng hóa theo vị trí-serial</li>
							<li>Tra cứu lịch sử xuất/nhập kho</li>
							<li>Phân quyền quản lý theo kho</li>
						</ul>
					</div>
					<div role="tabpanel" class="tab-pane" id="cuahang">
                        <ul>
							<li>Quản lý xuất/nhập/tồn kho</li>
							<li>Quản lý chiết khấu theo khách hàng</li>
							<li>Thống kê doanh thu, lợi nhuận</li>
							<li>Thông kê hàng hóa bán chạy</li>
							<li>Phân tích xu hướng khách hàng</li>
							<li>Quản lý bảo hành</li>
                        </ul>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>

<div id="portfolio">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="section-title">
					<strong>03</strong>
					<h1 class="heading bold">Áp dụng phù hợp</h1>
					<hr/>
				</div>
				<!-- ISO section -->
				<div class="iso-section">
					<ul class="filter-wrapper clearfix">
                        <!--<li><a href="#" class="selected opc-main-bg" data-filter="*" >Tất cả</a></li>-->
						<li><a href="#" class="selected opc-main-bg" data-filter=".shop">Cửa hàng</a></li>
                        <li><a href="#" class="opc-main-bg" data-filter=".stock" >Kho</a></li>
						<li><a href="#" class="opc-main-bg" data-filter=".supermarket">Siêu thị</a></li>

						<!--<li><a href="#" class="opc-main-bg" data-filter=".mobile">Mobile</a></li>-->
					</ul>
					<div class="iso-box-section wow fadeIn" data-wow-delay="0.9s">
						<div class="iso-box-wrapper col4-iso-box">

							<div class="iso-box shop col-lg-4 col-md-4 col-sm-6">
								<a th:href="@{/home_page/images/shop-img1.jpg}" data-lightbox-gallery="portfolio-gallery" ><img th:src="@{/home_page/images/shop-img1.jpg}" alt="portfolio img"/></a>
							</div>
                            <div class="iso-box shop col-lg-4 col-md-4 col-sm-6">
                                <a th:href="@{/home_page/images/shop-img2.jpg}" data-lightbox-gallery="portfolio-gallery" ><img th:src="@{/home_page/images/shop-img2.jpg}" alt="portfolio img"/></a>
                            </div>
                            <div class="iso-box shop col-lg-4 col-md-4 col-sm-6">
								<a th:href="@{/home_page/images/shop-img3.jpg}" data-lightbox-gallery="portfolio-gallery"><img th:src="@{/home_page/images/shop-img3.jpg}" alt="portfolio img"/></a>
							</div>
                            <div class="iso-box shop col-lg-4 col-md-4 col-sm-6">
                                <a th:href="@{/home_page/images/shop-img4.jpg}" data-lightbox-gallery="portfolio-gallery" ><img th:src="@{/home_page/images/shop-img4.jpg}" alt="portfolio img"/></a>
                            </div>
                            <div class="iso-box shop col-lg-4 col-md-4 col-sm-6">
                                <a th:href="@{/home_page/images/shop-img5.jpg}" data-lightbox-gallery="portfolio-gallery"><img th:src="@{/home_page/images/shop-img5.jpg}" alt="portfolio img"/></a>
                            </div>
                            <div class="iso-box shop col-lg-4 col-md-4 col-sm-6">
                                <a th:href="@{/home_page/images/shop-img6.jpg}" data-lightbox-gallery="portfolio-gallery"><img th:src="@{/home_page/images/shop-img6.jpg}" alt="portfolio img"/></a>
                            </div>
                            <div class="iso-box stock col-lg-4 col-md-4 col-sm-6">
                                <a th:href="@{/home_page/images/stock-img1.jpg}" data-lightbox-gallery="portfolio-gallery"><img th:src="@{/home_page/images/stock-img1.jpg}" alt="portfolio img"/></a>
                            </div>
                            <div class="iso-box stock col-lg-4 col-md-4 col-sm-6">
                                <a th:href="@{/home_page/images/stock-img2.jpg}" data-lightbox-gallery="portfolio-gallery"><img th:src="@{/home_page/images/stock-img2.jpg}" alt="portfolio img"/></a>
                            </div>
                            <div class="iso-box stock col-lg-4 col-md-4 col-sm-6">
                                <a th:href="@{/home_page/images/stock-img3.jpg}" data-lightbox-gallery="portfolio-gallery"><img th:src="@{/home_page/images/stock-img3.jpg}" alt="portfolio img"/></a>
                            </div>
                            <div class="iso-box stock col-lg-4 col-md-4 col-sm-6">
                                <a th:href="@{/home_page/images/stock-img4.jpg}" data-lightbox-gallery="portfolio-gallery"><img th:src="@{/home_page/images/stock-img4.jpg}" alt="portfolio img"/></a>
                            </div>
                            <div class="iso-box stock col-lg-4 col-md-4 col-sm-6">
                                <a th:href="@{/home_page/images/stock-img5.jpg}" data-lightbox-gallery="portfolio-gallery"><img th:src="@{/home_page/images/stock-img5.jpg}" alt="portfolio img"/></a>
                            </div>
                            <div class="iso-box stock col-lg-4 col-md-4 col-sm-6">
                                <a th:href="@{/home_page/images/stock-img6.jpg}" data-lightbox-gallery="portfolio-gallery"><img th:src="@{/home_page/images/stock-img6.jpg}" alt="portfolio img"/></a>
                            </div>
                            <div class="iso-box supermarket col-lg-4 col-md-4 col-sm-6">
                                <a th:href="@{/home_page/images/supermarket-img1.jpg}" data-lightbox-gallery="portfolio-gallery"><img th:src="@{/home_page/images/supermarket-img1.jpg}" alt="portfolio img"/></a>
                            </div>
                            <div class="iso-box supermarket col-lg-4 col-md-4 col-sm-6">
                                <a th:href="@{/home_page/images/supermarket-img2.jpg}" data-lightbox-gallery="portfolio-gallery"><img th:src="@{/home_page/images/supermarket-img2.jpg}" alt="portfolio img"/></a>
                            </div>
                            <div class="iso-box supermarket col-lg-4 col-md-4 col-sm-6">
                                <a th:href="@{/home_page/images/supermarket-img3.jpg}" data-lightbox-gallery="portfolio-gallery"><img th:src="@{/home_page/images/supermarket-img3.jpg}" alt="portfolio img"/></a>
                            </div>


						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

<section id="pricing">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 text-center">
				<div class="section-title">
					<strong>04</strong>
					<h1 class="heading bold">Bảng giá</h1>
					<hr/>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="plan plan-one wow bounceIn" data-wow-delay="0.3s">
					<div class="plan_title">
						<i class="icon-desktop medium-icon"></i>
						<h3>CƠ BẢN</h3>
						<h2>65.000<span>VNĐ/tháng</span></h2>
					</div>
					<ul>
						<li>1 kho/cửa hàng</li>
						<li>30 mã hàng</li>
						<li>1 người dùng</li>
						<li>20 ngày dùng thử</li>
					</ul>
					<button class="btn btn-warning">ĐĂNG KÝ</button>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="plan plan-two wow bounceIn" data-wow-delay="0.3s">
					<div class="plan_title">
						<i class="icon-mobile medium-icon"></i>
						<h3 style="color: #0099e5">NÂNG CAO</h3>
						<h2 style="color: #0099e5">140.000<span>VNĐ/tháng</span></h2>
					</div>
					<ul>
                        <li>3 kho/cửa hàng</li>
                        <li>120 mã hàng</li>
                        <li>3 người dùng</li>
						<li>20 ngày dùng thử</li>
					</ul>
					<button class="btn btn-warning">ĐĂNG KÝ</button>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="plan plan-three wow bounceIn" data-wow-delay="0.3s">
					<div class="plan_title">
						<i class="icon-cloud medium-icon"></i>
						<h3 style="color:#b59f38">CAO CẤP</h3>
						<h2 style="color:#b59f38">Liên hệ</h2>
					</div>
					<ul>
						<li>Không giới hạn kho hàng</li>
						<li>Không giới hạn mã hàng</li>
						<li>Không giới hạn người dùng</li>
						<li>30 ngày dùng thử</li>
					</ul>
					<button class="btn btn-warning">ĐĂNG KÝ</button>
				</div>
			</div>

		</div>
	</div>
</section>

<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 text-center">
				<div class="section-title">
					<strong>05</strong>
					<h1 class="heading bold">Liên hệ</h1>
					<hr/>
				</div>
			</div>
			<div class="col-md-6 col-sm-12 contact-info">
				<h2 class="heading bold">Thông tin liên hệ</h2>
				<p>Hãy liên hệ với chúng tôi bất kỳ khi nào bạn cần sự trợ giúp. Mọi thông tin chi tiết xin vui lòng liên hệ qua địa chỉ email và số điện thoại.</p>
				<div class="col-md-6 col-sm-4">
					<h3><i class="icon-envelope medium-icon wow bounceIn" data-wow-delay="0.6s"></i> Email</h3>
					<p>doanlv4@gmail.com</p>
				</div>
				<div class="col-md-6 col-sm-4">
					<h3><i class="icon-phone medium-icon wow bounceIn" data-wow-delay="0.6s"></i> Số điện thoại</h3>
					<ul class="social-icon">
						<li>+(84)975.114.692</li>
						<li>+(84)983.917.976</li>
						<li>+(84)349.752.098</li>
					</ul>
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<form action="#" method="get" class="wow fadeInUp" data-wow-delay="0.6s">
					<div class="col-md-6 col-sm-6">
						<input type="text" class="form-control" placeholder="Họ tên" name="name"/>
					</div>
					<div class="col-md-6 col-sm-6">
						<input type="email" class="form-control" placeholder="Email" name="email"/>
					</div>
					<div class="col-md-12 col-sm-12">
						<textarea class="form-control" placeholder="Nội dung" rows="7" name="message"></textarea>
					</div>
					<div class="col-md-offset-4 col-md-8 col-sm-offset-4 col-sm-8">
						<input type="submit" class="form-control" value="GỬI NỘI DUNG"/>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>



<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<p>&copy; 2019 WMS. All Rights Reserved | Design by x8Store Team</p>
				<hr/>
				<ul class="social-icon">
					<li><a href="#" class="fa fa-facebook wow fadeIn" data-wow-delay="0.3s"></a></li>
					<li><a href="#" class="fa fa-twitter wow fadeIn" data-wow-delay="0.6s"></a></li>
					<li><a href="#" class="fa fa-dribbble wow fadeIn" data-wow-delay="0.9s"></a></li>
					<li><a href="#" class="fa fa-behance wow fadeIn" data-wow-delay="0.9s"></a></li>
					<li><a href="#" class="fa fa-tumblr wow fadeIn" data-wow-delay="0.9s"></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>

<script th:src="@{/js/jquery-3.2.1.min.js}" th:href="@{/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}" th:href="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/home_page/smoothscroll.js}" th:href="@{/home_page/smoothscroll.js}"></script>
<script th:src="@{/home_page/isotope.js}" th:href="@{/home_page/isotope.js}"></script>
<script th:src="@{/home_page/imagesloaded.min.js}" th:href="@{/home_page/imagesloaded.min.js}"></script>
<script th:src="@{/home_page/nivo-lightbox.min.js}" th:href="@{/home_page/nivo-lightbox.min.js}"></script>
<script th:src="@{/home_page/jquery.backstretch.min.js}" th:href="@{/home_page/jquery.backstretch.min.js}"></script>
<script th:src="@{/js/wow.min.js}" th:href="@{/js/wow.min.js}"></script>
<script th:src="@{/home_page/custom.js}" th:href="@{/home_page/custom.js}"></script>

</body>
</html>