<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes"/>
    <link rel="shortcut icon" th:href="@{/images/wms_favicon.ico}"/>
    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Open+Sans'/>
    <!--script for regigster-->
    <link rel="stylesheet" href="/fonts/font-awesome/css/font-awesome.min.css" th:href="@{/fonts/font-awesome/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/register.css}"/>
    <link rel="stylesheet" th:href="@{/home_page/bootstrap.min.css}"/>
    <title>Đăng ký</title>
    <script th:src="@{/js/jquery-3.2.1.min.js}" th:href="@{/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/home_page/jquery.backstretch.min.js}" th:href="@{/home_page/jquery.backstretch.min.js}"></script>
</head>
<body>
<div class="container">
    <div class="row main">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 class="title">X8 STORE</h1>
                <hr />
            </div>
        </div>
        <div class="main-login main-center">
            <form class="form-horizontal" method="post" th:action="@{/register}" >

                <div class="form-group">
                    <label for="name" class="cols-sm-2 control-label">Họ tên <a th:style="${'color: red;'}">*</a></label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="name" id="name" th:required="true"  placeholder="Nhập họ tên" autocomplete="off"/>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <label for="telNumber" class="cols-sm-2 control-label">Số điện thoại <a th:style="${'color: red;'}">*</a></label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-phone fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="telNumber" id="telNumber" th:required="true" placeholder="Nhập số điện thoại" autocomplete="off"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">Mật khẩu <a th:style="${'color: red;'}">*</a></label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" name="password" id="password" th:required="true"  placeholder="Nhập mật khẩu" autocomplete="off"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="confirm" class="cols-sm-2 control-label">Nhập lại mật khẩu <a th:style="${'color: red;'}">*</a></label> <br></br>
                    <span id='message'></span>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" name="confirm" id="confirm" th:required="true" placeholder="Nhập lại mật khẩu" autocomplete="off"/>
                        </div>
                    </div>
                </div>

                <div class="form-group ">
                    <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Đăng ký</button>
                </div>
                <div class="login-register">
                    <a href="http://localhost:8020">Trang chủ</a> &nbsp;&nbsp; &nbsp;&nbsp; <a href="http://localhost:8020/login">Đăng nhập</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    //------------------------------------------------------------------------------------------------
    $('#confirm').on('keyup', function () {
        if ($('#password').val() == $('#confirm').val()) {
            $('#message').html('Mật khẩu khớp').css('color', 'green');
        } else
            $('#message').html('Mật khẩu không khớp').css('color', 'red');
    });

    $(document).ready(function () {

        validator = $("#form-horizontal").validate({
            ignore: ":hidden",
            rules: {
                name: {
                    required: true,
                    normalizer: function( value ) {
                        return $.trim( value );
                    },
                    maxlength: 50
                },
                telNumber: {
                    required: true,
                    normalizer: function( value ) {
                        return $.trim( value );
                    },
                    maxlength: 15
                },
                password: {
                    required: true,
                    normalizer: function( value ) {
                        return $.trim( value );
                    },
                    maxlength: 30
                },
                confirm: {
                    normalizer: function( value ) {
                        return $.trim( value );
                    },
                    maxlength: 30
                }
            },

            submitHandler: function (form) {
                preprocessInput($("#form-horizontal"));
                //
                if (isContainSpecialCharacter($('#name').val())) {
                    alert("Họ tên chứa kí tự đặc biệt. Vui lòng loại bỏ kí tự (lớn hơn, nhỏ hơn)");
                    return;
                }
                if (isContainSpecialCharacter($('#telnumber').val())) {
                    alert("Số điện thoại chứa kí tự đặc biệt. Vui lòng loại bỏ kí tự (lớn hơn, nhỏ hơn)");
                    return;
                }
                //
                $.ajax({
                    type: "POST",
                    url: "/register",
                    data: $(form).serialize(),
                    success: function (data) {
                        resultArr = data.split('|');
                        resultCode = resultArr[0];
                        resultName = resultArr[1];
                        if(resultCode == 1){
                            setInfoMessage($('#action-info'),resultName);
                        }else{
                            setErrorMessage($('#action-info'),resultName);
                        }

                    },
                    error:function(){
                        setErrorMessage($('#action-info'),'Lỗi hệ thống');
                    }
                });
                return false; // required to block normal submit since you used ajax
            }
        });
    });
    //
</script>

</body>
</html>