<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes"/>
    <link rel="shortcut icon" th:href="@{/images/wms_favicon.ico}"/>
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans'/>
    <!--script for regigster-->
    <link rel="stylesheet" href="/fonts/font-awesome/css/font-awesome.min.css" th:href="@{/fonts/font-awesome/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/register.css}"/>
    <link rel="stylesheet" th:href="@{/home_page/bootstrap.min.css}"/>
    <title>Đăng ký</title>
    <script th:src="@{/js/jquery-3.2.1.min.js}" th:href="@{/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/home_page/jquery.backstretch.min.js}" th:href="@{/home_page/jquery.backstretch.min.js}"></script>
    <script th:attr="src=@{/js/jquery.validate.min.js}" th:href="@{/js/jquery.validate.min.js}"></script>
    <script th:attr="src=@{/js/wms-common.js}" th:href="@{/js/wms-common.js}"></script>
    <!--confirmation-->
    <script th:attr="src=@{/js/bootstrap.min.js}" th:href="@{/js/bootstrap.min.js}"></script>
    <script th:attr="src=@{/js/notification/bootstrap-notify.min.js}" th:href="@{/js/notification/bootstrap-notify.min.js}"></script>
</head>
<body>
<div class="container">
    <div class="row main">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 class="title">LogDez</h1>
                <hr />
            </div>
        </div>
        <div class="main-login main-center">
            <label id="action-info" class="action-info"></label>
            <label id="countdown" class="action-info"></label>
            <form class="form-horizontal" id="register-form" >
            <div class="col-md-5" style=" padding-right: 0px;">
                    <div class="form-group">
                        <label for="telNumber" class="cols-sm-2 control-label">Số điện thoại <a th:style="${'color: red;'}">*</a></label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-phone fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="telNumber" id="telNumber" th:required="true" placeholder="Nhập số điện thoại" autocomplete="off"/>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="code" class="cols-sm-2 control-label">Tên đăng nhập<a th:style="${'color: red;'}">*</a></label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="code" id="code" th:required="true"  placeholder="Nhập tên đăng nhập " autocomplete="off"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="cols-sm-2 control-label">Mật khẩu <a th:style="${'color: red;'}">*</a></label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                <input type="password" class="form-control" name="password" id="password" th:required="true"  placeholder="Nhập mật khẩu" autocomplete="off"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="confirm" class="cols-sm-2 control-label">Nhập lại mật khẩu <a th:style="${'color: red;'}">*</a></label>    <span id='message'></span>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                <input type="password" class="form-control" name="confirm" id="confirm" th:required="true" placeholder="Nhập lại mật khẩu" autocomplete="off"/>
                            </div>
                        </div>
                    </div>

                </div>
            <div class="col-md-1" style=" padding-right: 0px;"></div>
            <div class="col-md-6" style=" padding-right: 0px;">
                    <div class="form-group">
                        <label for="custName" class="cols-sm-2 control-label">Tên doanh nghiệp/cửa hàng</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-building" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="custName" id="custName"  placeholder="Tên doanh nghiệp/cửa hàng" autocomplete="off"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="address" class="cols-sm-2 control-label">Địa chỉ doanh nghiệp/cửa hàng</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-address-card-o " aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="address" id="address"   placeholder="Địa chỉ doanh nghiệp/cửa hàng" autocomplete="off"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email" class="cols-sm-2 control-label">Email liên hệ </label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope " aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="email" id="email" placeholder="Email liên hệ" autocomplete="off"/>
                            </div>
                        </div>
                    </div>
                <div class="form-group">
                    <label for="name" class="cols-sm-2 control-label">Họ tên </label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="name" id="name"  placeholder="Nhập họ tên" autocomplete="off"/>
                        </div>
                    </div>
                </div>
            </div>



            <div class="form-group ">
                <button id="btn-register" type="button"  style="    width: 200px ;margin: auto "     class="btn btn-primary btn-lg btn-block login-button">Đăng ký</button>
            </div>
            <div class="login-register">
                <a href="https://logdez.com">Trang chủ</a> &nbsp;&nbsp; &nbsp;&nbsp; <a href="https://logdez.com/login">Đăng nhập</a>
            </div>
            </form>
        </div>
    </div>

</div>

<script>
    //------------------------------------------------------------------------------------------------
    $('#confirm').on('keyup', function () {
        if ($('#password').val() == $('#confirm').val()) {
            $('#message').html('Khớp').css('color', 'green');
        } else
            $('#message').html('Không khớp').css('color', 'red');
    });

    $(document).ready(function () {

        validator = $("#register-form").validate({
            ignore: ":hidden",
            rules: {
                name: {
                    normalizer: function( value ) {
                        return $.trim( value );
                    },
                    maxlength: 50
                },
                custName: {
                    normalizer: function( value ) {
                        return $.trim( value );
                    },
                    maxlength: 2000
                },
                address: {
                    normalizer: function( value ) {
                        return $.trim( value );
                    },
                },
                email: {
                    required: true,
                    normalizer: function( value ) {
                        return $.trim( value );
                    },
                    maxlength: 50
                },
                code: {
                    required: true,
                    normalizer: function( value ) {
                        return $.trim( value );
                    },
                    maxlength: 50
                },
                telNumber: {
                    required: true,
                    normalizer: function( value ) {
                        return $.trim( value );
                    },
                    maxlength: 15
                },
                password: {
                    required: true,
                    normalizer: function( value ) {
                        return $.trim( value );
                    },
                    maxlength: 30
                },
                confirm: {
                    normalizer: function( value ) {
                        return $.trim( value );
                    },
                    maxlength: 30
                }
            },

            submitHandler: function (form) {
                preprocessInput($("#register-form"));
                //
                return false; // required to block normal submit since you used ajax
            }
        });
    });
    $("#telNumber").keypress(function (evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
    })
    $("#telNumber").on('keyup', function(evt){
        $("#code").val($(this).val());
        $("#name").val($(this).val());
        $("#custName").val($(this).val());
    });
    $("#btn-register").click(function () {

        var result = validateRequire($('#register-form'));
        if (result == false){
            return;
        }
        if ($('#password').val() != $('#confirm').val()) {
            $('#confirm').attr('data-original-title', "Mật khẩu không khớp").tooltip('show');
            $('#confirm').focus();
            closeTooltip('#confirm');
            return
        }
        if (isContainSpecialCharacter($('#name').val())) {
            alert("Họ tên chứa kí tự đặc biệt. Vui lòng loại bỏ kí tự (lớn hơn, nhỏ hơn)");
            return;
        }
        if (isContainSpecialCharacter($('#telNumber').val())) {
            alert("Số điện thoại chứa kí tự đặc biệt. Vui lòng loại bỏ kí tự (lớn hơn, nhỏ hơn)");
            return;
        }
        $.ajax({
            type: "POST",
            url: "/WMS/register",
            data: $('#register-form input[name!=confirm]').serialize(),
            success: function (data) {
                resultArr = data.split('|');
                resultCode = resultArr[0];
                resultName = resultArr[1];
                if(resultCode == 1){
                    setInfoMessage($('#action-info'),resultName);
                    $("#register-form input").prop("disabled", true);
                    $("#btn-register").prop("disabled", true);
                    doCountDown(5);
                }else{
                    setErrorMessage($('#action-info'),resultName);
                }

            },
            error:function(e){
                setErrorMessage($('#action-info'),'Lỗi hệ thống');
            }
        });
    });
 function doCountDown(seconds) {
         seconds = seconds - 1;
         if (seconds < 0) {
             window.location = "https://logdez.com/login";
         } else {
             // Update remaining seconds
             $('#countdown').text("Chuyển về trang đăng nhập trong " +seconds + " s ");
             // Count down using javascript
             setTimeout(doCountDown, 1000,seconds);
         }

 }

    //
</script>

</body>
</html>