<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes"/>

    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Open+Sans'/>
    <!--script for regigster	-->
    <link rel="stylesheet" href="css/login.css" th:href="@{/css/login.css}"/>
    <title></title>
</head>
<body>
<div class="cont">
    <div class="demo">
        <div class="login">
            <form name="f" th:action="@{/login}" method="post">
                <div class="login__check"></div>
                <div class="login__form">
                    <div class="login__row">
                        <svg class="login__icon name svg-icon" viewBox="0 0 20 20">
                            <path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8" />
                        </svg>
                        <input type="text" class="login__input name" placeholder="Username" id="username" name="username"/>
                    </div>
                    <div class="login__row">
                        <svg class="login__icon pass svg-icon" viewBox="0 0 20 20">
                            <path d="M0,20 20,20 20,8 0,8z M10,13 10,16z M4,8 a6,8 0 0,1 12,0" />
                        </svg>
                        <input type="password" class="login__input pass" placeholder="Password" id="password" name="password"/>
                    </div>
                    <div th:if="${param.error}" class="alert alert-error">
                        Invalid username and password.
                    </div>
                    <div th:if="${param.logout}" class="alert alert-success">
                        You have been logged out.
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="login__submit">Log in</button>
                        <p class="login__signup">Don't have an account? &nbsp;<a>Sign up</a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
    <script src="js/jquery-1.10.2.min.js" th:href="@{/js/jquery-1.10.2.min.js}"></script>
</body>
</html>